<br>
<br>
<br>

<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Lugares</li>
    </ol>
  </nav>
</div>

<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker *ngFor="let lugar of lugares" [latitude]="lugar.lat" [longitude]="lugar.lng"></agm-marker>
</agm-map>

<hr>

<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Lugares Cercanos</h2>
      <a routerLink="/lugares/crear/new" class="btn btn-primary">Crear Nuevo Negocio</a>
      <br>
      <br>
      <ul class="list-group">
        <!--<ng-container *ngFor="let lugar of lugares; let i = index" [ngSwitch]="lugar.cercania">
          <a routerLink="/detalle/{{lugar.id}}" [queryParams]="{action:'view'}">
            <li class="list-group-item" contar-clicks [ngStyle]="{color:(lugar.active) ? 'black': 'gray'}" [ngClass]="{numero_par:(i+1)%2 !== 0}">
              {{lugar.nombre}} -
              <span *ngSwitchCase="1" [ngStyle]="{color:'green'}">Muy Cercano</span>
              <span *ngSwitchCase="2" [ngStyle]="{color:'black'}">Cercano</span>
              <span *ngSwitchCase="3" [ngStyle]="{color:'red'}">Lejano</span>
            </li>
          </a>
        </ng-container>-->
      </ul>
      <table class="table">
        <tbody>
        <tr *ngFor="let lugar of lugares; let i = index">
          <td>
            <a routerLink="/detalle/{{lugar.id}}">{{lugar.nombre}}</a>
          </td>
          <td>
            <a routerLink="/lugares/crear/{{lugar.id}}" class="btn btn-light"><i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i></a>
          </td>
          <td>
            <a (click)="eliminarLugar(lugar.id)" class="btn btn-light"><i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-md-4">
      <h2>Destacados</h2>
    </div>
  </div>

</div>
