<br>
<br>
<br>


<div class="container">

  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="">Home</a></li>
      <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{breadPalabra}}</li>
    </ol>
  </nav>
  <br>
  <h1>{{palabra}} la información del lugar</h1>
  <br>
  <form>
    <div class="form-group">
      <label for="formGroupExampleInput">Nombre</label>
      <input name="nombre" type="text" class="form-control" id="formGroupExampleInput" placeholder="" [(ngModel)]="lugar.nombre">
    </div>
    <div class="form-group">
      <label for="textareamensaje">Descripción</label>
      <textarea name="descripcion" class="form-control" id="textareamensaje" cols="30" rows="10" rows="3" [(ngModel)]="lugar.descripcion"></textarea>
    </div>
    <div class="form-group">
      <label for="textareamensaje">Plan</label>
      <input name="plan" class="form-control" type="text" [(ngModel)]="lugar.plan">
    </div>
    <h3>Datos de Dirección</h3>
    <div class="form-group">
      <label for="formGroupExampleInput">Distancia</label>
      <input name="distancia" type="number" class="form-control" id="formGroupExampleInput" placeholder="" [(ngModel)]="lugar.distancia">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Cercanía</label>
      <input name="cercania" type="number" class="form-control" id="formGroupExampleInput2" placeholder="" [(ngModel)]="lugar.cercania">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Calle y Número</label>
      <input name="direccion" type="text" class="form-control" [(ngModel)]="lugar.direccion">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">Ciudad</label>
      <input name="ciudad" type="text" class="form-control" [(ngModel)]="lugar.ciudad">
    </div>
    <div class="form-group">
      <label for="formGroupExampleInput2">País</label>
      <input name="pais" type="text" class="form-control" [(ngModel)]="lugar.pais">
    </div>

    <a class="btn btn-primary" (click)="guardarLugar()">Enviar</a>&nbsp;&nbsp;
    <a routerLink="/lugares" class="btn btn-outline-secondary">Cancelar</a>
  </form>

</div>

